.zisle-control-binding__binding__a {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadA.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__b {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadB.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__x {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadX.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__y {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadY.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__lt {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadTriggerLeft.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__rt {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadTriggerRight.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__lb {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadBumperLeft.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__rb {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadBumperRight.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__left_stick_press {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadThumbLeftPress.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__right_stick_press {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadThumbRightPress.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__d-pad_left {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadDpadLeft.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__d-pad_right {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadDpadRight.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__d-pad_up {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadDpadUp.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__d-pad_down {
	background-image: url("project://database/Assets/Sprites/Icons/GamepadDpadDown.png");
	-unity-background-image-tint-color: var(--color-text-dark);
	width: 40px;
	height: 40px;
	margin-top: 2px;
	margin: auto;
	padding: 0;
	color: rgba(0,0,0,0);
}

