.zisle-control-binding__binding__lmb {
	background-image: url("project://database/Assets/Sprites/Icons/IconMouseLeft.png");
	-unity-background-image-tint-color: var(--color-text);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__rmb {
	background-image: url("project://database/Assets/Sprites/Icons/IconMouseRight.png");
	-unity-background-image-tint-color: var(--color-text);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}

.zisle-control-binding__binding__mmb {
	background-image: url("project://database/Assets/Sprites/Icons/IconMouseMiddle.png");
	-unity-background-image-tint-color: var(--color-text);
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 2px;
	padding: 0;
	color: rgba(0,0,0,0);
}
