.gap {
	margin-top: 30px;
}

.unity-base-text-field__input 
{
	margin: 2px;
}

.unity-text-field__placeholder > .unity-base-text-field__input {    
    color: var(--color-text-ghosted);
}

.buttons .zisle-button
{
	width: 400px;
}