.logo {
    background-image : url("project://database/Assets/Sprites/UI/Logo.png");

    width: 700px;
    height: 190px;
    margin-bottom: 100px;
    margin-top: -140px;
    -unity-background-image-tint-color: #FFFFFF;
    -unity-background-scale-mode: scale-and-crop;
}
