.logo {
    background-image : url("project://database/Assets/Sprites/UI/Logo.png");

    width: 700px;
    height: 190px;
    margin-bottom: 100px;
    margin-top: -140px;
    -unity-background-image-tint-color: var(--color-title);
    -unity-background-scale-mode: scale-and-crop;
}

.zisle-panel-items
{
    padding-top: 20px;
}

.zisle-button
{
    width: 290px;
    margin-top: 20px;
}

.zisle-button > Label
{
    font-size: 100%;
}

.zisle-panel
{
    background-color: #e8e7ea;
}
